.containerLogin{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.mainLogin{
    display: flex;
    flex-direction: column;
}

.headerLogin {
    background-color: #5976AA;
    width: 100vw;
    height: 30%;
    border-radius: 0px 0px 30px 30px;
}

.welcome {
    color: white;
    padding-top: 15%;
    font-size: 5em;
}

.labelLogin {
  font-size: 2em;
  margin-left: 2%;
  margin-top: 5px;
}

.btnGoogle{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-color: rgb(112, 110, 110);
    width: 40vw;
    height: 5vh;
    font-size: 2em;
    margin-left: 30%;
}
