.mainLogin {
  display: flex;
  flex-direction: column;
}

.headerLogin {
  margin-top: -20%;
  background-color: #5976AA;
  width: 100vw;
  height: 75vh;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  color: white;
  font-size: 5em;
}

.labelLogin {
  font-size: 2em;
  margin-left: 2%;
  margin-top: 5px;
}

.btnGoogle {

  background: #FFFFFF;
  border: 0.5px solid rgba(65, 65, 65, 0.8);
  border-radius: 8px;
  width: 50vw;
  height: 8vh;
  font-size: 2em;
  margin-left: 30%;
  margin-top: 3%;
}