form {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titleRegister {
    color: #5976AA;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 7rem;
    font-weight: 500;
}
.inputBox select {
    background: #F9F9F9;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    font-size: 1.8rem;
}

.titleLabel {
    color: #7C7C7C;
    font-size: 1.8rem;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputBox input {
    background: #F9F9F9;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    width: 100%;
    height: 5rem;
    font-size: 1.8rem;
}

.inputBoxTec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8rem;
}

.savedForm {
    background-color: #273883;
    color: #FFFFFF;
    text-align: center;
    border-style: none;
    border-radius: 10px;
    height: 5rem;
    margin-bottom: 2%;
    font-size: 1.6rem;
}

.inputBoxSelect {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}